/* font style  */
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.color-1 {
    color: #000000;
}

.color-2 {
    color: #FFFFFF;
}

.color-3 {
    color: #30B868;
}
/* common sryle */
button:hover, .card:hover{
    cursor: pointer;
    background-color: yellowgreen;
}
.btn-1 {
    font-size: 16px;
    color: white;
    background-color: #30B868;
    padding: 13px 16px 13px 16px;
    border: none;
    border-radius: 4px;
}

.btn-2 {
    font-size: 16px;
    color: #30B868;
    background-color: white;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
}

.btn-3 {
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
}