/* font style  */
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.color-1 {
    color: #000000;
}

.color-2 {
    color: #FFFFFF;
}

.color-3 {
    color: #30B868;
}

/* common sryle */
button:hover,
.card:hover {
    cursor: pointer;
    background-color: yellowgreen;
}

.btn-1 {
    font-size: 16px;
    color: white;
    background-color: #30B868;
    padding: 13px 16px 13px 16px;
    border: none;
    border-radius: 4px;
}

.btn-2 {
    font-size: 16px;
    color: #30B868;
    background-color: white;
    border: none;
    border-radius: 1000px;
    padding: 8px 12px;
}

.btn-3 {
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
}

/* header  */
/* nav style */
nav li a {
    text-decoration: none;
    color: black;
}

nav li {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    width: 100%;
    margin: 15px auto;
    /* border: 1px solid red; */
}

nav ul {
    display: flex;
    gap: 32px;
    align-items: center;
}

/* banner-style  */
.banner-title {
    font-size: 72px;
    font-weight: 700;
}

.banner-description {
    font-size: 18px;
    color: white;
}

.banner {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 1600px;
    width: 100%;
    height: 674px;
    margin: 0 auto;
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    align-items: center;
}

/* head-end  */
/* notes style  */
.card img {
    background-color: red;
    border-radius: 1000px;
    height: 32px;
    width: 32px;
    padding: 15px;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
}

.card {
    border: 1px solid yellow;
    height: 300px;
    width: 320px;
    align-items: center;
    text-align: center;
    padding: 70px 25px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    text-align: center;
    max-width: 1360px;
    margin: 0 auto;
}

.notes-section {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    height: 840px;
    /* border: 1px solid red; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notes-title {
    font-size: 48px;
    font-weight: bold;
}